{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BRIGHT</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {% static 'css/style.css' %}" rel="stylesheet">
    <link href=" {% static 'css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a class="site-title"><span>Bright</span>Foundation</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="index.html" data-toggle="dropdown">Home</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'donate' %}">Donate</a></li>
                              <li><a href="#contact">Contact</a></li>
                            </ul>

                        </li>

                        <li><a href="contact.html">Contact</a></li>


                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Bring Some Light To Darkness</h1>
                <p>all the donation goes to who has no <br>access to electricity  </p>
                <a href="{% url 'donate' %}" class="btn btn-border">Donate Now</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features">
            <div class="container">
                        <div class="counter-item">
                            <h1 class="counter" data-to="240" data-speed="2000">0</h1><br>
                            <p>Million Indians</p>

                        </div>
                    </div>
                   <!-- /.counter-item -->
                    <div class="col-sm-7 hidden-xs">

                    </div>
                </div>
            </div>
        </section><!-- /.section-features -->

        <section class="site-section section-services text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="yes">
                       <h2> YES!</h2></div>
<!--                        <div class="img" ><img src="{% static 'img/ne.jpg' %}"></div>-->
                    </div>
                    <div class="col-md-8">
                        <div class="con" >
                            <p>240 Million Indians Have No Electricity</p>
                            <p>13% of Indian Households Still Don't Have Access to Grid-Connected Electricity: Survey.
                            A recently-released survey suggests that nearly 87% of the country's population has access to grid-based electricity,
                            while 13% either use non-grid sources for electricity and lighting or don't use any electricity at all.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.section-services -->

        <section class="site-section section-map-feature text-center">

            <div class="container" id="contact">
                <h2>any query</h2>
                <div class="form">
                    <form  method="POST" id="post-form">
                            {% csrf_token %}
						<div class="top">
							<h3>Enquire Now</h3>
						</div>
                        <div class="container">
                        <div class="mb-3">
              <label for="email">Email address</label>
              <input type="email" required maxlength="50" class="form-control"
              id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" required maxlength="50" class="form-control"
              id="name" name="name" placeholder="Name">
            </div>

            <div class="mb-3">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary px-4">Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </section><!-- /.section-map-feature -->

<!-- /.section-portfolio -->

        <section class="site-section section-newsletter text-center">
            <div class="container">
                <h2>Subscribe our newsletters</h2>
                <form class="form-group newsletter-group">
                    <input type="email" class="form-control" placeholder="Your e-mail" required>
                    <button class="btn btn-green" type="button">Subscribe</button>
                </form><!-- /.newsletter-group -->
            </div>
        </section><!-- /.section-newsletter -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title"><span>Bright</span>Foundation</a>
                    <p>We're a Non-Profit organization for help people in india who has no access to electricity.</p>
                    <p>WE COLLECT ALL THE DONATION AND HELP PEOPLE  .</p>
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3>Keep in touch</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@BRIGHTFOUNTATION.com">info@brightfountaion.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:888 999 22 21">888 999 22 21 </a></li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i><a href="999 888 21 22">999 888 21 22</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>INDIA</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <h3>Featured links</h3>
                    <ul class="list-unstyled">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">

                            <p>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'js/script.js'  %}"></script>
</body>
<script type="text/javascript">
	$(document).on('submit','#post-form',function(e){
			e.preventDefault();

			$.ajax({
				type : 'POST',
				url : 'enquire',
				data : {

                    email:$('#email').val(),
					name:$('#name').val(),
					message:$('#message').val(),
					csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()

				},

				success:function (){
					swal({
  						title: "YOUR ENQUIRE SUCCESSFULLY SUBMITTED!",
  						text: "We Will Contact You Soon",
  						icon: "success",
  						button: "GO BACK!",
						});
					}
			});

	});

</script>
</html>